{% extends 'base.html.twig' %}


{% block body %}
    <div class="row"> 
        <div class="col-md-6 float-letf">
            {{ knp_pagination_filter(pagination, 
                {
                    'p.code': 'Código', 
                    'p.name': 'Nombre', 
                    'p.description':'Descripción', 
                    'p.brand':'Marca',
                    'p.category':'Categoría',
                    'p.price': 'Precio'
                }) 
            }}
        </div>
        <div class="col-md-6">
            <a href="{{ path('product_new') }}" class="btn btn-primary float-right">Nuevo producto</a>
        </div>
    </div>
    <br>
    <br>
    <table class="table table-striped table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th {% if pagination.isSorted('p.code') %} 
                       {% if orderDic is not null and orderDic == 'desc' %} class="sorted-desc" {% else %} class="sorted-asc"{% endif %}
                    {% endif %}>
                    <span>{{knp_pagination_sortable(pagination, 'Código', 'p.code')}}</span>
                </th>
                <th {% if pagination.issorted('p.name') %} 
                       {% if orderDic is not null and orderDic == 'desc' %} class="sorted-desc" {% else %} class="sorted-asc"{% endif %}
                    {% endif %}>
                    {{knp_pagination_sortable(pagination, 'Nombre', 'p.name')}}
                </th>
                <th {% if pagination.issorted('p.description') %} 
                       {% if orderDic is not null and orderDic == 'desc' %} class="sorted-desc" {% else %} class="sorted-asc"{% endif %}
                    {% endif %}>
                    {{knp_pagination_sortable(pagination, 'Descripción', 'p.description')}}
                </th>
                <th {% if pagination.issorted('p.brand') %} 
                       {% if orderDic is not null and orderDic == 'desc' %} class="sorted-desc" {% else %} class="sorted-asc"{% endif %}
                    {% endif %}>
                    {{knp_pagination_sortable(pagination, 'Marca', 'p.brand')}}
                </th>
                <th {% if pagination.issorted('p.category') %} 
                       {% if orderDic is not null and orderDic == 'desc' %} class="sorted-desc" {% else %} class="sorted-asc"{% endif %}
                    {% endif %}>
                    {{knp_pagination_sortable(pagination, 'Categoría', 'p.category')}}
                </th>
                <th {% if pagination.issorted('p.price') %} 
                       {% if orderDic is not null and orderDic == 'desc' %} class="sorted-desc" {% else %} class="sorted-asc"{% endif %}
                    {% endif %}>
                    {{knp_pagination_sortable(pagination, 'Precio', 'p.price')}}
                </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for product in pagination %}
            <tr>
                <td>{{ product.code }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.brand }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.price | number_format(2, '.', ',')}} $</td>
                <td>
                    <a href="{{ path('product_show', {'id': product.id}) }}">Ver</a>
                    <a href="{{ path('product_edit', {'id': product.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">No hay productos</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# display navigation #}
    <div class="navigation float-right">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}
