{% extends 'base.html.twig' %}

{% block breadcrumb%}
    <li class="breadcrumb-item active" aria-current="page">Ver producto</li>
{%endblock%}

{% block title %}Producto{% endblock %}

{% block body %}

    <div class="card">
        <h3 class="card-header bg-optime text-white">Producto</h3>
        <div class="card-body">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Código</th>
                        <td>{{ product.code }}</td>
                    </tr>
                    <tr>
                        <th>Nombre</th>
                        <td>{{ product.name }}</td>
                    </tr>
                    <tr>
                        <th>Marca</th>
                        <td>{{ product.brand }}</td>
                    </tr>
                    <tr>
                        <th>Categoría</th>
                        <td>{{ product.category }}</td>
                    </tr>
                    <tr>
                        <th>Precio</th>
                        <td>{{ product.price | number_format(2, '.', ',')}} $</td>
                    </tr>
                    <tr>
                        <th>Descripción</th>
                        <td>{{ product.description }}</td>
                    </tr>
                </tbody>
            </table>

            <a class="btn btn-primary float-right" href="{{ path('product_edit', {'id': product.id}) }}">Editar</a>
            {{ include('product/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
